.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger span:hover {
  background: rgb(0, 0, 0);
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
}

.hamburger span:nth-child(2) {
  width: 36px;
}
